/*-- scss:defaults --*/
$primary: #1816a9;
$body-color: #20243a;
$headings-color: #141936;
$link-color: #1816a9;
$font-size-base: 1.05rem;
$line-height-base: 1.65;
$navbar-bg: #ffffff;
$navbar-fg: #20243a;
$navbar-hl: #1816a9;
